*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;

    font-family: 'Times New Roman', Times, serif;
    font-size: 0.7rem;

}

.top{
    display: flex;
    background-color: green;
    height: 30vh;
    width: 100%;
    .contenedor1{
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        display: flex;
        height: 70%;
        width: 100%;

        input {
            width: 60%;  /* Ancho */
            height: 30%;  /* Alto */
            &:focus {
                outline: none;
            }
        }
        button{
            height: 30%;
            aspect-ratio: 1/1;
            cursor: pointer;
            font-size: 16px;  /* Tamaño del texto */
            background-color: darkgrey;
        }
    }

}

.middle{
    background-color: blue;
    height: 30vh;
    width: 100%;
}
.bottom{
    background-color: red;
    height: 40vh;
    width: 100%;

}